$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}

%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: .3rem;
}

.heading-3 {
  @extend %heading;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.heading-4 {
  @extend %heading;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
}